# ignore venv folder
venv/

# ignore .env file
.env

# ignore .vscode folder
.vscode/

# ignore .idea folder
.idea/

# ignore the instance folder
instance/

# ingnore all pycache folders
**/__pycache__/
